[submodule "src/libs/glfw"]
	path = src/libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/libs/vma"]
	path = src/libs/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
